################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################
.*
!/.gitignore
bin/
obj/
node_modules/
dist/
Publish/
*.csproj.user
dkbs-services/DKBS.Database/DKBS.Database.jfm
dkbs-services/DKBS.Database/DKBS.Database.dbmdl
dkbs-services/DKBS.API/Properties/PublishProfiles/dkbs-api - Web Deploy1.pubxml.user
dkbs-services/DKBS.API/Properties/PublishProfiles/dkbs-api - Web Deploy1.pubxml
dkbs-services/DKBS.API/Properties/PublishProfiles/dkbs-api - Web Deploy.pubxml.user
dkbs-services/DKBS.Database/DKBS.publish.xml
dkbs-services/DKBS.API/Properties/PublishProfiles/dkbs-api-dev - Web Deploy.pubxml.user
dkbs-services/DKBS.API/Properties/PublishProfiles/dkbs-api-dev - Web Deploy.pubxml
dkbs-services/DKBS.API/Properties/PublishProfiles/dkbs-api - Web Deploy.pubxml
/Database/dkbs
/dkbs-services/DKBS
dkbs-services/DKBS.Migration/DKBS.Migration.jfm
dkbs-services/DKBS.Migration/DKBS.Migration.dbmdl
